<nav>
    <div class="navbar bg-base-100">
        <div class="navbar-start">
            <a href="/index">
                <div class="avatar">
                    <div class="w-20 rounded">
                        <img src="../assets/images/mydiary-logo.png" alt="MyDiary Logo">
                    </div>
                </div>
            </a>
            <a href="/index" class="btn btn-ghost normal-case text-xl">MyDiary</a>
        </div>
        <div class="lg:flex"></div>
        <div class="navbar-end">
            <a class="btn m-0.5 bg-green-300 border-none" href="/user/login">Log in</a>
            <a class="btn m-0.5 bg-green-300 border-none" href="/about">About</a>
        </div>
    </div>
</nav>