<div
  class="grid overflow-hidden grid-cols-1 grid-rows-auto md:grid-rows-12 gap-0 w-auto h-fit md:min-h-screen justify-center content-center">
  <main class="min-w-full min-h-full row-start-1 row-end-12 mt-8">
    <section class="h-full gradient-form md:h-max">
      <div class="container py-12 px-6 h-full m-auto">
        <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
          <div class="xl:w-10/12">
            <div class="block bg-white shadow-lg rounded-lg">
              <div class="lg:flex lg:flex-wrap g-0">
                <div class="lg:w-6/12 px-4 md:px-0">
                  <div class="md:p-12 md:mx-6">
                    <div class="text-center">
                      <a href="/index">
                        <img class="mx-auto w-48 mt-1" src="/assets/images/mydiary-logo.png" alt="MyDiary Logo">
                      </a>
                      <h4 class="text-xl font-semibold mt-1 mb-6 pb-1">MyDiary Sign Up</h4>
                    </div>
                    <form action="/user/signup" method="post">
                      <p class="mb-4">Please fill out the following information: </p>
                      <div class="mb-4">
                        <input type="text" name="username"
                          class="form-input"
                          placeholder="Username" required>
                      </div>
                      <div class="mb-4">
                        <input type="text" name="email"
                          class="form-input"
                          placeholder="Email" required>
                      </div>
                      <div class="mb-4">
                        <input type="password" name="password"
                          class="form-input"
                          placeholder="Password" required>
                      </div>
                      <div class="text-center pt-1 mb-12 pb-1">
                        <button
                          class="inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3"
                          type="submit" data-mdb-ripple="true" data-mdb-ripple-color="light" style="
                                       background: linear-gradient(
                                       to right,
                                       #cad2c5,
                                       #84a98c,
                                       #52796f,
                                       #354f52,
                                       #2f3e46
                                       );
                                       "> Sign Up </button>
                      </div>
                      <div class="flex items-center justify-between pb-6">
                        <p class="mb-0 mr-2">Already have an account?</p>
                        <a href="/user/login" {{!-- not sure if i need nav__button but just to be safe I added it --}}
                          class="nav__button inline-block px-6 py-2 border-2 border-red-600 text-red-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                          data-mdb-ripple="true" data-mdb-ripple-color="light">Log In
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="lg:w-6/12 flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none" style="
                           background: linear-gradient(to right,
                           #cad2c5,
                           #84a98c,
                           #52796f,
                           #354f52,
                           #2f3e46
                           );
                           ">
                  <div class="text-white px-4 py-6 md:p-12 md:mx-6">
                    <h4 class="text-xl md:text-5xl font-semibold mb-6">Welcome.</h4>
                    <p class="text-sm md:text-base">Sign up to start journaling.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <div class="min-w-full min-h-full row-start-12 row-end-13">
    {{> footer}}
  </div>
</div>